.label {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.2;
}

.label--color-primary {
  color: var(--color-primary);
}

.label--color-secondary {
  color: var(--color-secondary);
}

.label--color-tertiary {
  color: var(--color-tertiary);
}

.label--color-success {
  color: var(--color-success);
}

.label--color-info {
  color: var(--color-info);
}

.label--color-danger {
  color: var(--color-danger);
}

.label--color-warning {
  color: var(--color-warning);
}

.label--color-base {
  color: var(--color-font-base);
}