:root {
  --color-primary: #E08E45;
  /* --color-primary-emphasis: #007a3d; */
  /* --color-primary-muted: #06572e; */
  --color-secondary: #3943B7;
  --color-tertiary: #BDF7B7;
  --color-success: #00964b;
  --color-info: #1b8dbe;
  --color-danger: #f6323e;
  --color-warning: #ffbd2e;

  --color-font-base: #333333;

}